:root {
  --black: black;
  --white: white;
  --green: #10ee0c;
  --purple: #a383c3;
  --orange: #ec6c00;
  --grey: #e4e4e4;
  --dark-1: #1d151f;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--black);
  text-transform: uppercase;
  font-family: Space Grotesk, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

p {
  margin-bottom: 0;
  font-size: 1cqi;
}

.page-wrapper {
  max-width: 100%;
  overflow: clip;
}

.hero-section {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: 100svh;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  display: flex;
  position: relative;
}

.hero-component {
  z-index: 1;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.hero-component._2 {
  position: static;
}

.hero-heading {
  color: var(--white);
  letter-spacing: -.05rem;
  text-transform: uppercase;
  max-width: 58.125rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 5rem;
  font-weight: 500;
  line-height: 100%;
}

.hero-heading._2 {
  text-align: left;
  max-width: 55cqi;
  font-size: 4.44cqi;
  position: absolute;
  inset: auto auto 5% 2%;
}

.button {
  background-color: var(--green);
  color: var(--black);
  border-radius: 5.55556rem;
  border-radius: 5.5cqi;
  justify-content: center;
  align-items: center;
  padding: .88cqi 1.33cqi;
  font-size: 1.625rem;
  font-weight: 500;
  display: inline-flex;
}

.button.absolute {
  background-color: var(--white);
  font-size: 1.44cqi;
  position: absolute;
  inset: auto 2% 6% auto;
}

.about-section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  height: 100svh;
  padding: 1.5rem;
  display: flex;
  position: sticky;
  top: 0;
}

.about-image {
  aspect-ratio: 1;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.about-paragraph {
  text-transform: none;
  max-width: 25.8rem;
  font-size: 1.125rem;
  position: absolute;
  inset: 6% auto auto 0%;
}

.about-description {
  z-index: 1;
  opacity: 0;
  text-transform: uppercase;
  justify-content: center;
  align-items: flex-end;
  max-width: 21cqi;
  font-size: 2.22cqi;
  font-weight: 700;
  position: absolute;
  inset: auto 15cqi 36cqh auto;
}

.about-description._3 {
  max-width: 30cqi;
  bottom: 40cqh;
  right: 5cqi;
}

.about-description.first {
  opacity: 1;
}

.about-center-wrapper {
  opacity: 0;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  transform: none;
}

.about-center-wrapper._3 {
  width: 70%;
}

.about-center-wrapper.first {
  opacity: 1;
}

.join-us-section {
  padding: 5cqi 3%;
}

.hero-background-video {
  object-fit: contain;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.hero-subheading {
  color: var(--white);
}

.hero-subheading._2 {
  text-align: right;
  text-transform: none;
  max-width: 18.8rem;
  font-size: 1.125rem;
  font-weight: 400;
  position: absolute;
  inset: 12% 1.5% auto auto;
}

.container {
  background-color: #ddd0;
  width: 100%;
  max-width: 112.5rem;
  margin-left: auto;
  margin-right: auto;
  container-type: inline-size;
}

.container.full {
  flex: 1;
}

.container.full-height {
  height: 100%;
}

.join-us-component {
  position: relative;
}

.mint-stack {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--black);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--black);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--black);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--black);
  background-color: var(--purple);
  border-radius: 1.11111px;
  border-radius: 1.111cqi;
  margin-bottom: 2cqi;
  padding: 2.22cqi;
  position: sticky;
  top: 7cqi;
}

.mint-stack.green {
  background-color: var(--green);
}

.mint-stack.orange {
  background-color: var(--orange);
}

.mint-top {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 11.22cqi;
  display: flex;
}

.mint-top.last, .mint-top-left {
  margin-bottom: 0;
}

.heading-xl {
  letter-spacing: -.01em;
  text-transform: uppercase;
  max-width: 50.8cqi;
  margin-top: 0;
  margin-bottom: 1cqi;
  font-size: 4.44cqi;
  font-weight: 500;
  line-height: 1;
}

.heading-xl.last {
  max-width: 55cqi;
  margin-bottom: 14cqi;
}

.mint-subheading {
  letter-spacing: -.01em;
  text-transform: none;
  max-width: 42.6cqi;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.mint-subheading.last {
  text-transform: none;
  max-width: 28cqi;
  font-size: 1.25cqi;
}

.join-now {
  background-color: var(--green);
  color: var(--black);
  text-transform: uppercase;
  border-radius: 6.25rem;
  padding: 1.55cqi 2.22cqi;
  font-size: 3.55cqi;
  font-weight: 500;
}

.join-now.white {
  background-color: var(--white);
  font-size: 2cqi;
}

.mint-bottom {
  border-top-style: solid;
  border-top-color: var(--black);
  border-right-style: solid;
  border-right-color: var(--black);
  border-bottom-style: solid;
  border-bottom-color: var(--black);
  border-left-style: solid;
  border-left-color: var(--black);
  background-color: var(--white);
  border-radius: 0;
  grid-column-gap: 1.77cqi;
  grid-row-gap: 1.11cqi;
  border-width: .0555cqi;
  border-top-right-radius: 1.11111cqi;
  border-bottom-right-radius: 1.11111cqi;
  border-bottom-left-radius: 1.11111cqi;
  flex-flow: wrap;
  padding: 1.66cqi;
  display: flex;
}

.list-row {
  letter-spacing: -.01em;
  text-transform: uppercase;
  grid-column-gap: .66cqi;
  grid-row-gap: .66cqi;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.33cqi;
  display: inline-flex;
}

.mint-bottom-heading {
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  border-top-left-radius: 1.11cqi;
  border-top-right-radius: 1.11cqi;
  padding: .66cqi 1.55cqi;
  font-size: 1cqi;
  font-weight: 500;
  display: inline-block;
}

.rev-link {
  text-decoration: none;
}

.rev-link.join-now.white {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.rev-ctas {
  grid-column-gap: 1.1cqi;
  grid-row-gap: 1.1cqi;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: auto;
  display: inline-flex;
}

.list-icon {
  width: 1.33cqi;
}

.why-us-section {
  background-color: var(--black);
}

.why-us-component {
  color: var(--white);
  padding: 5cqi 2%;
}

.why-us-heading {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 3.33cqi;
  font-size: 3cqi;
  line-height: 1;
}

.why-us-cards {
  grid-column-gap: 1.11cqi;
  grid-row-gap: 1.11cqi;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.why-us-card {
  background-color: #ffffff1a;
  border-radius: 1.375rem;
  flex-flow: column;
  padding: 2.33cqi;
  display: flex;
}

.why-us-subheading {
  color: var(--purple);
  letter-spacing: -.01em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 3cqi;
  font-size: 2.11cqi;
  font-weight: 500;
  line-height: 1;
}

.why-us-image {
  margin-bottom: 3cqi;
}

.why-us-card-subheading {
  text-transform: none;
  margin-top: auto;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
}

.how-section {
  padding-left: 2%;
  padding-right: 2%;
  overflow: clip;
}

.how-component {
  padding-top: 10cqi;
  padding-bottom: 10cqi;
}

.how-cards-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.how-card {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--grey);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--grey);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--grey);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--grey);
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.33cqi;
  transition-property: background-color;
  transition-duration: .4s;
  transition-timing-function: ease;
  position: relative;
}

.how-card:hover {
  background-color: #fff;
  background-image: linear-gradient(#a383c333, #fff 31%);
  border-color: #a383c333;
}

.how-card.first {
  z-index: 4;
}

.how-card.second {
  z-index: 3;
  border-radius: 1rem;
}

.how-card.third {
  z-index: 2;
}

.how-card.fourth {
  z-index: 1;
}

.how-eyebrow {
  background-color: var(--green);
  text-transform: uppercase;
  border-radius: 6.25rem;
  margin-bottom: .55cqi;
  padding: .44cqi .55cqi;
  font-size: .77cqi;
  font-weight: 500;
  display: inline-block;
}

.how-heading {
  letter-spacing: -.01em;
  text-transform: none;
  margin-bottom: 3.33cqi;
  font-size: 1.22cqi;
}

.vision-section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--dark-1);
  color: var(--white);
  background-image: url('../images/Circle-Background-Images.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: grid;
  position: relative;
  overflow: clip;
}

.vision-heading {
  z-index: 2;
  text-align: center;
  text-transform: none;
  max-width: 77.8cqi;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.55cqi;
  position: relative;
  overflow: visible;
}

.vision-component {
  z-index: 2;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.about-component {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.about-accent {
  color: var(--green);
  display: inline;
}

.about-tabs {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid var(--black);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: absolute;
  inset: auto 0% 0%;
  overflow: clip;
}

.about-tab-text {
  border-bottom: .25rem solid #000;
  width: 100%;
  margin-bottom: .25rem;
  line-height: 1.3;
}

.about-center-tag {
  background-color: var(--green);
  border-radius: 100rem;
  padding: 1.55cqi 2.22cqi;
  font-size: 2.5cqi;
  position: absolute;
  inset: 0% auto auto 0%;
  transform: rotate(-26deg);
}

.about-center-tag._2 {
  top: 2%;
  transform: rotate(-18deg);
}

.about-center-tag._3 {
  top: 18%;
  left: -31%;
  transform: none;
}

.about-center-tag._4 {
  left: -14%;
  transform: rotate(-12deg);
}

.center-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 35%;
  display: grid;
}

.about-section-wrapper {
  height: 400vh;
  position: relative;
}

.overlay-hero {
  z-index: 1;
  border-top-style: solid;
  border-top-color: var(--white);
  border-right-style: solid;
  border-right-color: var(--white);
  border-bottom-style: solid;
  border-bottom-color: var(--white);
  border-left-style: solid;
  border-left-color: var(--white);
  pointer-events: none;
  perspective-origin: 50%;
  transform-origin: 50%;
  border-bottom-right-radius: 1.44cqi;
  border-bottom-left-radius: 1.44cqi;
  background-image: linear-gradient(360deg, #000, #fff0 40%);
  border-width: .44cqi;
  border-radius: 1.44cqi;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  inset: 0%;
  transform: none;
}

.border-trigger {
  height: 20vh;
  position: absolute;
  inset: 0% 0% auto;
}

.navbar-no-shadow {
  z-index: 10;
  background-color: #0000;
  width: 100%;
  padding-top: .44cqi;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  position: fixed;
  transform: translate(0, -6px);
}

.navbar-wrapper {
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.navbar-brand {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-transform: none;
  color: inherit;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  display: flex;
}

.navbar {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #0003;
  border-bottom-right-radius: .875rem;
  border-bottom-left-radius: .875rem;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin-bottom: 0;
  padding: 1.25rem 2rem;
  display: flex;
}

.nav-link-2 {
  letter-spacing: .25px;
  text-transform: none;
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
  color: inherit;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
}

.nav-link-2:focus-visible, .nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2.footer {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-primary {
  background-color: var(--green);
  color: var(--black);
  letter-spacing: .02em;
  text-transform: none;
  border-radius: 6.25rem;
  padding: .625rem 1rem;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  transition: all .2s;
}

.button-primary:active {
  background-color: #43464d;
}

.corner-image {
  width: 2.5cqi;
  position: absolute;
  inset: auto -.5em -.5em auto;
  transform: rotate(-90deg);
}

.corner-image.top-right {
  inset: -.5em -.5em auto auto;
  transform: rotate(180deg);
}

.corner-image.top-left {
  inset: -.5em auto auto -.5em;
  transform: rotate(90deg);
}

.corner-image.bottom-left {
  inset: auto auto -.5em -.5em;
  transform: none;
}

.text-animation-wrapper {
  display: inline-block;
  overflow: clip;
}

.text-animation {
  transform-origin: 0 100%;
  font-size: 4cqi;
  transform: none;
}

.how-image {
  aspect-ratio: 1;
  object-fit: contain;
  width: 100%;
}

.how-image.small {
  max-width: 89%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer-component {
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.footer {
  padding-left: 3%;
  padding-right: 3%;
}

.footer-right {
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  display: flex;
}

.menu-button-wrapper {
  display: none;
}

.ikonik-tt82y {
  color: #000;
}

.white {
  margin-bottom: 0;
}

.ikonik-i0ucy {
  color: var(--black);
}

.div-block {
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  display: flex;
}

.ikonik-jhyxz {
  color: var(--black);
}

.link {
  color: var(--black);
  text-decoration: none;
}

.main-subheading, .post-summary {
  font-family: Merriweather, serif;
}

.evermore-page-wrapper {
  text-transform: none;
  font-family: Opensans Variablefont Wdth Wght, Arial, sans-serif;
  font-weight: 400;
}

.logo {
  width: 32px;
  height: 32px;
}

.div-block-2 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .hero-heading._2 {
    bottom: 13%;
    left: 1rem;
  }

  .button.absolute {
    padding: .5em 1em;
    font-size: 1.125rem;
    left: 1rem;
    right: auto;
  }

  .about-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-description {
    max-width: 50%;
    font-size: calc(1.5rem + .88cqi);
    inset: auto auto 10% 0%;
  }

  .about-description._3 {
    max-width: 50%;
    inset: auto auto 10% 0%;
  }

  .mint-top {
    flex-flow: column;
  }

  .heading-xl {
    margin-bottom: .625rem;
  }

  .mint-subheading {
    max-width: 70%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .mint-subheading.last {
    max-width: 70%;
    font-size: 1rem;
  }

  .mint-bottom {
    flex-flow: column;
  }

  .list-row {
    font-size: 1.125rem;
  }

  .mint-bottom-heading {
    padding: .6875rem 1.625rem;
    font-size: 1.125rem;
  }

  .list-icon {
    width: 1.25rem;
  }

  .why-us-component {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .why-us-heading {
    margin-bottom: 3rem;
    font-size: 2.75rem;
  }

  .why-us-subheading {
    font-size: 1.875rem;
  }

  .why-us-card-subheading {
    font-size: 1rem;
  }

  .how-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .how-cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .how-eyebrow {
    margin-top: .625rem;
    margin-bottom: .625rem;
    padding: .5rem .625rem;
    font-size: .875rem;
  }

  .how-heading {
    font-size: 1rem;
  }

  .vision-heading.scroll-highlight {
    text-align: left;
    font-size: 2.625rem;
  }

  .about-tabs {
    grid-template-columns: 1fr;
  }

  .center-grid {
    width: 55%;
    margin-top: -20%;
  }

  .navbar-no-shadow {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: none;
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-button-wrapper {
    flex: 0 auto;
  }

  .menu-button {
    padding: 12px;
    display: none;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .menu-button-wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading._2 {
    max-width: 100%;
    font-size: 2.75rem;
    right: 2%;
  }

  .about-description._3, .about-description.first {
    max-width: 100%;
  }

  .about-center-wrapper {
    margin-top: -24%;
  }

  .hero-subheading._2 {
    text-align: left;
    font-weight: 600;
    inset: 15% auto auto 3%;
  }

  .mint-stack {
    position: static;
  }

  .heading-xl {
    font-size: 2rem;
  }

  .join-now.white, .list-row {
    font-size: 1rem;
  }

  .why-us-heading {
    font-size: 2rem;
  }

  .why-us-cards {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .how-cards-wrapper {
    grid-template-columns: 1fr;
  }

  .how-card {
    position: sticky;
    top: 0;
  }

  .how-card.first {
    z-index: 1;
    top: 64px;
  }

  .how-card.second {
    z-index: 2;
    top: 164px;
  }

  .how-card.third {
    z-index: 3;
    top: 264px;
  }

  .how-card.fourth {
    z-index: 4;
    top: 364px;
  }

  .vision-heading.scroll-highlight {
    max-width: 90%;
  }

  .center-grid {
    width: 90%;
    margin-top: -10%;
  }

  .overlay-hero {
    display: none;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .navbar {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .footer-component {
    flex-flow: column;
  }

  .footer-right {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-flow: column;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading._2 {
    font-size: 2rem;
    bottom: 16%;
  }

  .vision-heading.scroll-highlight {
    font-size: 2rem;
  }

  .navbar {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }
}

#w-node-_671bf624-a26b-b445-f2b3-db7f0a1ff555-12091edd {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_671bf624-a26b-b445-f2b3-db7f0a1ff561-12091edd, #w-node-_6ebab315-4e5d-ae4a-61c6-cffb0ffd3989-12091edd, #w-node-_86de3bcb-6f7d-a25b-81fa-540ae8c14c06-12091edd, #w-node-_2e2dc704-c6df-f8de-c31b-4db96489696c-12091edd {
  grid-area: 1 / 1 / 2 / 2;
}

@media screen and (max-width: 991px) {
  #w-node-_671bf624-a26b-b445-f2b3-db7f0a1ff566-12091edd, #w-node-a71a9045-93e5-8e94-2eaa-4c372272aebb-12091edd, #w-node-_0f02b64c-5bd8-20c7-e1b5-5be92acddfb8-12091edd, #w-node-_5fc8c40f-9158-12e6-d87f-cc21e2b0a3da-12091edd {
    grid-area: 1 / 1 / 2 / 2;
  }
}


@font-face {
  font-family: 'Opensans Variablefont Wdth Wght';
  src: url('../images/') format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}